bundle/
.DS_Store
node_modules/
.idea/
.idea/*
.idea/Ares_RN.iml
npm-debug.log
*.pyc
keystore/

ios/profile
# *.xcworkspace
ios/Ares.xcodeproj/xcuserdata
ios/Ares.xcodeproj/xcuserdata/*
ios/Pods/
ios/build/
ios/Ares/Classes/RN/bundle/
*.xcuserstate
ios/Ares.xcworkspace/xcuserdata
ios/Ares.xcworkspace/xcuserdata/yonghui.xcuserdatad
ios/Ares.xcworkspace/xcuserdata/yonghui.xcuserdatad
*.xcuserstate
ios/Ares.xcworkspace/xcuserdata


ios/Ares/Classes/CommonEngines/YBundle/YBundleZip
ios/Ares/Classes/CommonEngines/YBundle/ybundleinfo.plist

android/.idea/
android/app/build/
android/build/
android/libs/
android/local.properties
android/libs/pulltorefresh/build/
android/libs/pulltorefresh/build.gradle
#Android IDEA
android/**/*.idea
android/**/*.iml
android/libs/**/build

.vscode/